<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Admin Page</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link href="stylehome.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="styleadmin.css">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet-search@3.0.2/dist/leaflet-search.min.css" />
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-search/3.0.2/leaflet-search.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script src="/admin_ajax_req.js"></script>
</head>
<body>
  <div class="wrapper">
    <nav class="navbar">
      <nav class="navbar">
        <a class='hello' style="color:#e7e4e4;">Welcome, <%= name %></a>
        <ul>
          <li><a class="active" href="/">Home</a></li>
          <li><a href="profile">Profile</a></li>
          <li><a href="contact">Contact</a></li>
          <li><a href="/logout" class="btn btn-danger">Logout</a></li>
        </ul>
      </nav>
    </nav>

    <div class="center-container">
      <button id="displayButton">Discounts</button>
    </div>

    <div id="dataContainer">
      <!-- Data will be dynamically added here -->
    </div>

    <!-- Edit Modal -->
    <div id="editModal" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>
        <input id="editTitle" type="text">
        <input id="editLoc" type="text">
        <input id="editUser" type="text">
        <button id="saveEditButton">Save Changes</button>
      </div>
    </div>
  </div>
</body>
</html>

