<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Web 2023</title>
	<!--     <link rel="stylesheet" href="style.css">      ------->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link href="stylehome.css" rel="stylesheet" type="text/css">
</head>
<body>
	<div class="wrapper">
			<nav class="navbar">
			<!--	<img class="logo" src="logo.png">
				<img src="bg1.jpg">
				  <h1>Hello, <%= name %></h1> -->
					<a class='hello'> 		Welcome , <%= name %> </a>
				<ul>
					<li><a class="active" href="">Home</a></li>
					<li><a href="profile">Profile</a></li>
					<li><a href="contact">Contact</a></li>
					<li><a href="/logout" class="btn btn-danger">Logout</a></li>
				<!--	<li><a href="#">Log Out</a></li>  -->
				</ul>
			</nav>
			<div class="center">
			<div class="buttons">
			<button>Discount</button>
			
		</div>
		</div>

</body>
</html>
