<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>KALA PHGE</title>
	<!--     <link rel="stylesheet" href="style.css">      ------->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link href="stylehome.css" rel="stylesheet" type="text/css">
</head>
<body>
	<div class="wrapper">
			<nav class="navbar">
			<!--	<img class="logo" src="logo.png">
				<img src="bg1.jpg">
				  <h1>Hello, <%= name %></h1> -->
					<a class='hello'> 		Welcome , <%= name %> </a>
				<ul>
					<li><a class="active" href="">Home</a></li>
					<li><a href="upload">Upload Files</a></li>
					<li><a href="maps">Maps</a></li>
					<li><a href="contact">Contact</a></li>
					<li><a href="/logout" class="btn btn-danger">Logout</a></li>
				<!--	<li><a href="#">Log Out</a></li>  -->
				</ul>
			</nav>
			<div class="center">
			<h1>Upload Har-File </h1>
			<h2>......</h2>
			<div class="buttons">
			<button>1st task</button>
			<button class="btn2">2nd task</button>
		</div>
		</div>

</body>
</html>
