<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Web 2023</title>
	<!--     <link rel="stylesheet" href="style.css">      ------->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link href="stylehome.css" rel="stylesheet" type="text/css">

			  <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-search/3.0.2/leaflet-search.min.js"></script>
    		  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
			  <script src="ajax_req.js"></script>
			  <script src="profile"></script>
			  <script src="server.js"></script>
			  


</head>
<body>
	<div class="wrapper">
			<nav class="navbar">
					<a class='hello' style="color:#e7e4e4;">	Welcome , <%= name %> </a>  
				<ul>
					<li><a class="active" href="">Home</a></li>
					<li><a href="profile">Profile</a></li>
					<li><a href="contact">Contact</a></li>
					<li><a href="/logout" class="btn btn-danger">Logout</a></li>

				</ul>
			</nav>

			<form action="/server.js" method="POST">
				<div class="form-group1">
					<label for="username">Username:</label>
					<input type="text" class="form-control" name="username" id="username"> 
				</div>
				<div class="form-group2">
					<label for="password">Password</label>
					<input type="password" class="form-control" name="password" id="password">
				</div>
				<button class="btn btn-primary">Register</button>
			</form>

			
			


		</div>
		</div>



</body>
</html>