.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  margin-top: 100px;
}

#mapid {

  margin-top: 20px;
  height: 450px;
  width:100%;
}

/* Style the display button */
#displayButton,
#uploadButton, /* Added this */
#DeleteButton {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 10px;
}

#displayButton:hover,
#uploadButton:hover, /* Added this */
#DeleteButton:hover {
  background-color: #0056b3;
}

#DeleteButton {
  margin-bottom: 0px;
}


.marker {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  margin: 10px;
  background-color: #f8f8f8;
}

.marker h3 {
  margin-top: 0;
}

.marker p {
  margin: 5px 0;
}



