.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  margin-top: 100px;
}

#mapid {

  margin-top: 20px;
  height: 450px;
  width:100%;
}


.marker {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  margin: 10px;
  background-color: #f8f8f8;
}

.marker h3 {
  margin-top: 0;
}

.marker p {
  margin: 5px 0;
}

.details-button{
  background-color: #FF5733;
  color: #FFFFFF;
  border: none;
  padding: 2px;
}

.delete-button{
  background-color: #000000;
  color: #FFFFFF;
  border: none;
  padding: 2px;
}